# --- Core UI & Environment ---
streamlit
python-dotenv

# --- RAG & Search Engine ---
nltk
tqdm
requests
pymupdf
sentence-transformers
faiss-cpu
numpy
Whoosh

# --- Voice Assistant Engine ---
groq
elevenlabs
streamlit-mic-recorder

# --- Text Processing & Logic ---
rapidfuzz
fuzzywuzzy
python-Levenshtein
language_tool_python

# --- FASTAPI Backend ---
fastapi
uvicorn
python-multipart

# --- model testing ---
matplotlib
pandas